<table class="table table-pizza">
    <thead>
    <tr>
        <th class="table-pizza-head pointer" (click)="showContent = !showContent">
            <p>{{pizza.order1.name}}</p>
            <p class="p-pizza-comment" (show)="contentIsVisible()">{{pizza.order1.comment}}</p>
        </th>
        <th class="table-pizza-head pointer" (click)="showContent = !showContent">
            <p>{{pizza.order2.name}}</p>
            <p class="p-pizza-comment" (show)="contentIsVisible()">{{pizza.order2.comment}}</p>
        </th>
        <th *ngIf="pizza.status == Status.TOPPING" class="pointer bg-info" (click)="moveToQueue();">
            <p><span class="glyphicon glyphicon-arrow-up text-info" aria-hidden="true"></span></p>
        </th>
        <th *ngIf="pizza.status == Status.BAKING" class="pizza-clock"><p>{{timeStove | async | date : 'm:ss'}}</p>
        </th>
    </tr>
    </thead>
    <tbody *ngIf="contentIsVisible()">
    <tr>
        <td>
            <ul class="list-group">
                <li class="list-group-item">
                    <div *ngFor="let category of order1Categories">
                        <p class="condimentCategory">{{category[0]}}</p>
                        <p *ngFor="let condiment of category[1]"
                           [ngClass]="{'condiment': true, 'condimentTwin': isOnBothOrders(condiment.id)}">
                            <condiment [id]="condiment.id"></condiment>
                        </p>
                    </div>
                </li>
            </ul>
        </td>
        <td>
            <ul class="list-group">
                <li class="list-group-item">
                    <div *ngFor="let category of order2Categories">
                        <p class="condimentCategory">{{category[0]}}</p>
                        <p *ngFor="let condiment of category[1]"
                           [ngClass]="{'condiment': true, 'condimentTwin': isOnBothOrders(condiment.id)}">
                            <condiment [id]="condiment.id"></condiment>
                        </p>
                    </div>
                </li>
            </ul>
        </td>
        <td *ngIf="pizza.status == Status.TOPPING" class="bg-info" (click)="moveToQueue()"></td>
        <td *ngIf="pizza.status == Status.BAKING"></td>
    </tr>
    <tr *ngIf="pizza.status == Status.EATING">
        <td>
            <div class="bg-info order-copy pointer"
                 title="Chef, der tut noch nicht. Freiwilliger Entwickler gesucht.">
                <span class="glyphicon glyphicon-copy text-info" aria-hidden="true"></span>
            </div>
        </td>
        <td>
            <div class="bg-info order-copy pointer"
                 title="Chef, der tut noch nicht. Freiwilliger Entwickler gesucht.">
                <span class="glyphicon glyphicon-copy text-info" aria-hidden="true"></span>
            </div>
        </td>
    </tr>
    </tbody>
</table>