<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" [ngClass]="{'container-full': lastExpand}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">zickner.pizza</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/general/aboutUs">Allgemein</a></li>
                <li><a routerLink="/event/list" *ngIf="loggedIn">Events</a></li>
                <li><a routerLink="/links" *ngIf="loggedIn">Links</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">
                <li><a routerLink="/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Anmeldung</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
                <li><a class="pointer" (click)="toggleExpand()">
                    <span class="glyphicon"
                          [ngClass]="{'glyphicon-resize-full': !lastExpand, 'glyphicon-resize-small': lastExpand}"
                          aria-hidden="true"></span>
                </a></li>
                <li><a class="pointer" (click)="logout()">Abmelden</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>